*,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 100%;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#h1Header {
    position: absolute;
    top: 15px;
    text-align: center;
    background: none;
    color: black;
    font-family: 'Times New Roman';
    font-size: 2em;
    font-weight: 600;
    font-variant: normal;
    font-style: normal;
    opacity: 80%;
    filter: drop-shadow(0 0 2px
    black);
    cursor: default;
}

#pHeaderLow {
    position: absolute;
    top: 85px;
    text-align: center;
    background: none;
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-variant: normal;
    font-size: 1em;
    font-weight: 500;
    opacity: 80%;
    cursor: default;
    filter: drop-shadow(0 0 1px
    gray);
    animation-name: pAnimateLow;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 250ms;
    animation-direction: normal;
}

@keyframes pAnimateLow {
    from {
        opacity: 0%;
    }

    to {
        opacity: 80%;
    }
}

#divWrapEvent0 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divWrapEvent00 {
    position: absolute;
    top: 20%;
    background-color: white;
    width: 305px;
    height: 410px;
    border: 1px solid black;
    border-top-left-radius: 20% 10%;
    border-top-right-radius: 20% 10%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    animation-name: formAnimate;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes formAnimate {
    0% {
        filter: drop-shadow(0 0 6px
        gray);
        opacity: 90%;
    }

    50% {
        filter: drop-shadow(0 0 12px
        black);
        opacity: 80%;
    }

    100% {
        filter: drop-shadow(0 0 6px
        gray);
        opacity: 90%;
    }
}

#imgForm {
    position: absolute;
    top: 15px;
    width: 100px;
    height: 100px;
    opacity: 80%;
}

#pFormFill {
    position: absolute;
    top: 116px;
    text-align: center;
    background: none;
    color: black;
    font-family: arial;
    font-size: 1em;
    font-weight: 600;
    font-variant: normal;
    font-style: italic;
    opacity: 70%;
    cursor: default;
}

#pFormFill::before,
#pFormFill::after {
    position: relative;
    top: -2px;
    content: " :: ";
    font-weight: 800;
    color: black;
    opacity: 100%;
}

#inputName {
    position: absolute;
    top: 170px;
    width: 55%;
    height: 28px;
    opacity: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: georgia;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: black;
    text-align: center;
}

#inputName:hover {
    transition: 170ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    width: 60%;
}

#inputStory {
    position: absolute;
    top: 220px;
    width: 55%;
    height: 22%;
    opacity: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: georgia;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: black;
    text-align: center;
}

#inputStory:hover {
    transition: 170ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    height: 25%;
}

#imgPen0 {
    position: absolute;
    top: 225px;
    left: 70px;
    width: 20px;
    height: 20px;
    opacity: 50%;
    z-index: 1;
}

#imgPen00 {
    position: absolute;
    top: 175px;
    left: 70px;
    width: 20px;
    height: 20px;
    opacity: 50%;
    z-index: 1; 
}

#buttonSubmit {
    position: absolute;
    top: 330px;
    left: 70px;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: black;
    width: 80px;
    height: 28px;
    font-family: arial;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    opacity: 85%;
    cursor: pointer;
}

#buttonSubmit:hover {
    transition: 140ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    color: white;
    opacity: 90%;
}

#buttonReset {
    position: absolute;
    top: 331.5px;
    left: 158px;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 4px;
    color: black;
    width: 43px;
    height: 25px;
    font-family: arial;
    font-size: .6em;
    font-style: normal;
    font-variant: normal;
    opacity: 85%;
    cursor: pointer;
}

#buttonReset:hover {
    transition: 140ms ease-in-out;
    transition-delay: 0s;
    transition-timing-function: linear;
    background-color: black;
    color: white;
    opacity: 90%;
}

#imgRefresh {
    position: relative;
    top: 144px;
    left: 57px;
    width: 15px;
    height: 15px;
    opacity: 80%;
    animation-name:imgAnimateIcon;
    animation-duration: 1s;
    animation-delay: 270ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes imgAnimateIcon {
    from {
        transform: rotate(0deg);
        opacity: 80%;
    }

    to {
        transform: rotate(180deg);
        opacity: 85%;
    }
}

#imgPerson {
    position: absolute;
    bottom: 17px;
    left: 17px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 80%;
    animation-name: imgPersonTRX;
    animation-duration: .5s;
    animation-delay: 100ms;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes imgPersonTRX {
    from {
        transform: translateX(-100px);
        opacity: 10%;
        display: none;
    }

    to {
        transform: translateX(0);
        opacity: 80%;
        display: block;
    }
}

#personTalk {
    position: absolute;
    bottom: 45px;
    left: 97.7px;
    background-color: white;
    color: black;
    font-family: verdana;
    font-size: .8em;
    font-weight: 500;
    font-variant: normal;
    font-style: italic;
    opacity: 75%;
    padding: 2px;
    width: 80px;
    height: 18px;
    border-top-left-radius: 15% 40%;
    border-bottom-left-radius: 15% 40%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    animation-name: talkAnimatePerson;
    animation-duration: 5s;
    animation-delay: 1.7s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0%;
    cursor: default;
}

@keyframes talkAnimatePerson {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 80%;
    }

    100% {
        opacity: 0%;
    }
}

#adminSource {
    
}